In [1]:
import pandas as pd

# Sample data
data = {
    "Math": [75, 88, 93, 67],
    "English": [85, 90, 89, 78],
    "Science": [92, 81, 84, 79]
}

students = ["Alice", "Bob", "Charlie", "David"]
df = pd.DataFrame(data, index=students)
print(df)

         Math  English  Science
Alice      75       85       92
Bob        88       90       81
Charlie    93       89       84
David      67       78       79

In [3]:
# 1. Average score of each student
df.mean(axis=1)

Alice      84.000000
Bob        86.333333
Charlie    88.666667
David      74.666667
dtype: float64

In [4]:
# 2. Subject with the highest average
avg_per_subject = df.mean()
top_subject = avg_per_subject.idxmax()
top_subject

'English'

In [5]:
# 3. Highest individual score and who got it
max_score = df.to_numpy().max()
student_subject = df.stack().idxmax()
student_subject

('Charlie', 'Math')